@import "../../styles/mixins";

.container {

    h1 {
        display: flex;
        place-items: center;
        place-content: center;
        margin-bottom: 100px;
        font-weight: 400;

        img{
            width: 100px;
        }
    }

    .booksSection {
        margin-top: 200px;

        .bookSection__bookContainer {
            height: 250px;
            display: flex;
            place-items: center;
            margin-bottom: 250px;

            .bookContainer__listName {
                display: flex;
                justify-content: flex-end;
                place-items: center;
                width: 125px;
                margin-right: 40px;
                padding-right: 15px;
                border-right: 4px solid #000000;
                height: 110%;
            } 
        }
        
        .booksSection__hardcoverFiction {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            gap: 50px 20px;
            margin-top: 150px;
            height: 450px;
            width: 100%;
    
            @include phoneUp {
                place-content: center;
            }

        }
    }
}

