@import "../../styles/mixins";

.container {

    h1 {
        display: flex;
        place-items: center;
        margin-bottom: 100px;
        font-weight: 400;

        img{
            width: 100px;
        }
    }

    .books__Section {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        gap: 50px 20px;
        width: 100%;

        @include phoneUp {
            place-content: center;
        }
    }
}

