@import "../../styles/mixins";

.container {

    h1 {
        display: flex;
        place-items: center;
        margin-bottom: 100px;
        font-weight: 400;

        img{
            width: 100px;
        }
    }

    .booksSection {

        .bookSection__bookContainer {
            height: 250px;
            display: flex;
            place-items: center;

            .bookContainer__listName {
                display: flex;
                place-content: end;
                place-items: center;
                width: 125px;
                margin-right: 40px;
            } 
        }
        
        .booksSection__hardcoverFiction {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            gap: 50px 20px;
            margin-top: 150px;
            height: 450px;
            width: 100%;
    
            @include phoneUp {
                place-content: center;
            }

        }
    }
}

