@import '../../styles//mixins';

.toolbar__linksContainer{
    a {
        text-decoration: none;
        color: #2c2c2c;
        font-weight: 600;
    }

    @include phoneUp {
        display: grid;
        width: 180px;
        text-align: center;

        a {
            padding: 15px 0;
        }
    }
}



.navbar {
    height: 84px;
    padding: 0 5%;
    background-color: #E7E9EC !important;

    .navbar__toolbar {
        display: flex;
        justify-content: space-between;
        height: 100%;
        box-shadow: 0 2px 2px -2px rgba(0,0,0,.2);

        .toolbar_leftContainer {
            height: 100%;
            display: flex;
            place-items: center;
            place-content: center;

            .toolbar__logoContainer {
                height: 100%;
    
                img {
                    height: 100%;
                }
            }
    
            @extend .toolbar__linksContainer
        }

        .drawer {
            width: 40%;
        }
    }

    .link {
        font-size: 20px;
        
        @include phoneUp {
            margin: 15px 0;
        }

        @include tabletPortraitUp {
            margin: 0 15px;
        }
    }
}
