.navbar {
    height: 64px;
    background-color: #E7E9EC !important;

    .navbar__toolbar {
        display: flex;
        justify-content: space-around;
        height: 100%;

        .toolbar__logoContainer {
            height: 100%;

            img {
                height: 100%;
            }
        }

        .toolbar__linksContainer{
            a {
                text-decoration: none;
                color: #2c2c2c;
            }
        }
    }
}
