.seeMore {
  display: flex;
  place-content: center;
  place-items: center;
  background: hsla(0, 1%, 72%, 1);

  background: hsla(220, 16%, 96%, 1);

  background: linear-gradient(
    90deg,
    hsla(220, 16%, 96%, 1) 0%,
    hsla(216, 12%, 92%, 1) 100%
  );

  background: -moz-linear-gradient(
    90deg,
    hsla(220, 16%, 96%, 1) 0%,
    hsla(216, 12%, 92%, 1) 100%
  );

  background: -webkit-linear-gradient(
    90deg,
    hsla(220, 16%, 96%, 1) 0%,
    hsla(216, 12%, 92%, 1) 100%
  );
}
