@import '../../styles/mixins';

.footerContainer {
    padding: 0 !important;
    background-color: #F4F5F7;
    min-height: 250px;

    .footerContainer__logo {
        text-align: center;
        img {
            width: 60%;
        }

        @include laptopUp {
            padding: 2% 10% 0 10% !important;
        }

        @include phoneUp {
            padding:  5%;
        }
    }

    .footerContainer__links {
        text-align: center;

        ul {
            list-style-type: none;
            padding: 0 !important;
            li {
                margin: 20px 0;
            }
    
            a {
                text-decoration: none;
                list-style-type: none;
                color: #2c2c2c;
                font-weight: 600;
    
                &:hover {
                    text-decoration: underline;
                }
            }
        }

        .newsletterContainer {
            display: flex;
            place-content: center;
            height: 50px;

            button {
                margin-left: 1rem;
                color: #F29D16;
                height: 111%;
            }
        }
    }

    .footerContainer__copyright {
        background-color: #e7e9ec;
        display: flex;
        text-align: center;
        place-content: center;
        place-items: center;

        @include laptopUp {
            min-height: 60px;
            margin-top: 5%;
        }

        @include phoneUp {
            margin-top: 60px;
        }

        @include tabletPortraitUp {
            margin-top: 60px;
        }
    }
}