@import url('https://fonts.googleapis.com/css2?family=Zen+Antique+Soft&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans&display=swap');

h1 {
    font-family: 'Zen Antique Soft', serif;
    color: #2c2c2c;
}

body {
    font-family: 'Nunito Sans', sans-serif;

    h3 {
        margin-top: 30px;
    }
    
    p {
        color: #383838;
    }
}